

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma';
}

#header{
    background-color: #efb810;
    width: 100%;
    position: fixed;
    top: 0;
}

#logo{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Madimi One', 'Tahoma';
    font-size: 5vw;
    display: inline;
}

#menu{
    width: 100%;
    color: #46220f;
    display: inline;
    text-align: right;
}

#menu li{
    list-style-type: none;
    display: inline;
    padding: 1%;
}

#menu li:hover{
    background-color: #46220f;
    color:#efb810;
}

img{
    width: 100%;
}