

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma';
}

#container{
    position: relative;
    min-height: 100vh;
}

#header{
    background-color: #ef10d5;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

#logo{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-family: 'Madimi One', 'Tahoma';
    padding-bottom: 15px;
    
}

#menu{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', 'Tahoma';
}

#menu li{
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: inline;
}

#menu li a{
    text-decoration: none;
    color: inherit;
}

#menu li:hover{
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #ff8ff2;
    font-weight: bold;
    display: inline;
}

#content{
    padding-top: 150px;
    padding-bottom: 60px;
    width: 90%;
    margin: 0 auto;
}
#content p{
    text-align: justify;
    line-height: 20px;
    padding-top: 10px;
}

#content img{
    width: 70%;
    padding: 2% 15%;
    border-width: 40%;
    border: 10px inset transparent;
    background-color: rgb(132, 22, 113);
    border-radius: 50px;
    box-shadow: 10px 20px rgb(96, 0, 72);
    border-image: url("./132d0b11f96dcffaa700966900312a52.jpg") 150 round;
}

#content p:first-child, #content h2{
    text-align: center;
    padding-top: 6%;
}

#footer{
    background-color: #ef10d5;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer p{
    text-align: center;
    color: #ffffff;
    padding: 17px 0;
    font-family: 'Madimi One', 'Tahoma';
    font-style: italic;
}