*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

header{
    background-color: #ef10d5;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

header h1{
    text-align: center;
    font-family: 'Madimi One', 'Tahoma';
    color: #ffffff;
    padding-top: 20px;
}

nav{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', 'Tahoma';
}

nav a{
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #ff8ff2;
    font-weight: bold;
}

button{
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-right: auto;
    width: 420px;
    height: 60px;
    background-color: red;
    color: #fff;
    font-family: 'Madimi One';
    font-size: xx-large;
    border: 1px inset transparent;
    border-radius: 50px;
    box-shadow: 10px 7px grey;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

footer{
    background-color: #ef10d5;
    width: 100%;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer p{
    color: #ffffff;
    text-align: center;
    padding: 17px 0;
    font-family: 'Madimi One', 'Tahoma';
    font-style: italic;
}

